     <nav>
        <div class="nav-wrapper container">
        <a href="/api/products" class="brand-logo">Bebidas E-commerce</a>
        <ul id="nav-lista" class="right hide-on-med-and-down">
            <li><a href="/api/products">Home</a></li>
            <button id="see-cart-button" onclick="seeCart(event)">See Cart</button>
            <li><a href="/api/profile">Profile</a></li>
        </ul>
        </div>
    </nav>
<h1>Cart</h1>
<div id="{{cartId}}" class="cart-list product-list-container">
{{#if products}}
    {{#each products}}
        <div id={{product._id}} class="product-item">
            <p id="item-title">{{product.title}}</p>
             <div class="thumbnail-container">
                        <img src={{thumbnail}} alt=""> 
                    </div>
            <p>{{product.price}}</p>
            <p>amount: {{quantity}}</p>
            <button onclick="removeProduct(event)">Remove</button>
        </div>
    {{/each}}
{{else}}
    <p>The cart is empty</p>
{{/if}}
</div>

<script src="/statics/script/cart.js"></script>