     <nav>
        <div class="nav-wrapper container">
        <a href="/api/products" class="brand-logo">Bebidas E-commerce</a>
        <ul id="nav-lista" class="right hide-on-med-and-down">
            <li><a href="/api/products">Home</a></li>
            <button id="see-cart-button" onclick="seeCart(event)">See Cart</button>
            <li><a href="/api/profile">Profile</a></li>

        </ul>
        </div>
    </nav>
<div>
    <h1 class="main-title">Todas las Bebidas</h1>
    
    <div class="product-list-container">
        {{#each products}}
            <div class="product-item" id={{_id}} >
                <p id="item-title">{{title}}</p>
                <p>{{description}}</p>
                <p class="price-tag">${{price}}</p>
                {{!-- {{#if thumbnails}} --}}
                    <div class="thumbnail-container">
                        <img src={{thumbnail}} alt=""> 
                    </div>
                {{!-- {{else}}
                    <p id="no-image">no image</p> "../../statics/img/{{thumbnails.[0].originalName}}"
                {{/if}} --}}
                <p class="stock-tag">{{stock}} restantes</p>
                <button id="add-to-cart-button" onclick="addToCart(event)">Add to cart</button>
            </div>
        {{/each}}
    </div>
</div>

<script src="/statics/script/index.js"></script>